@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.facilities{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.fac-article{

&__img{
    margin: 2em 0;
}
&__headline{
    font-family: 'Merriweather', serif;
    font-size: 22px;
}
&__text{
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 14px;
}
&__btn{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: #F78065;
}

}

.sectionFac{
    width: 76.25rem;
    margin: 0 auto;
}

.sectionFac__headline{
    font-family: 'Merriweather', serif;
    font-size: 36px;
}