@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
.section {
    width: 76.25rem;
    margin: 0 auto;
    

&__headline{
    font-size: 36px;
    font-family: 'Merriweather', serif;
}
}